{% if not inventory_hostname == (groups['etcd'] | first) %}
server: https://{{ haproxy_vip }}:9345
{% endif %}
tls-san:
  - {{ haproxy_vip }}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
disable-apiserver: true
disable-controller-manager: true
disable-scheduler: true
token: {{ rke2_join_token }}
node-ip: {{ inventory_hostname }}
cni: cilium