global
    log /dev/log local0
    user haproxy
    group haproxy
    daemon
    maxconn 256

defaults
    log global
    option dontlognull
    mode http
    retries 2
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

frontend rke2-registration
    bind *:9345
    option tcplog
    mode tcp
    default_backend rke2-etcd

backend rke2-etcd
    mode tcp
    option tcp-check
    balance roundrobin
    server etcd0 192.168.56.70:9345 check
    server etcd1 192.168.56.71:9345 check

frontend kubernetes-api
    bind *:6443
    option tcplog
    mode tcp
    default_backend rke2-control-plane

backend rke2-control-plane
    mode tcp
    balance roundrobin
    option tcp-check
    server ctl0 192.168.56.60:6443 check
    server ctl1 192.168.56.61:6443 check

listen status-page
    bind *:9000
    stats enable
	stats uri /report
	stats refresh 30s
	stats auth admin:{{ status_page_secret }}
    stats show-legends
    stats admin if TRUE
