global
    chroot /var/lib/haproxy
    log /var/lib/haproxy/dev/log local0
    user haproxy
    group haproxy
    daemon
    maxconn 256

defaults
    log global
    option dontlognull
    option redispatch
    mode http
    retries 2
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

frontend rke2-registration
    bind *:9345
    option tcplog
    mode tcp
    default_backend rke2-etcd

backend rke2-etcd
    mode tcp
    option tcp-check
    balance roundrobin
{% for etcd_server in groups['etcd'] %}
    server etcd{{ (loop.index - 1) }} {{ etcd_server }}:9345 check
{% endfor -%}

frontend kubernetes-api
    bind *:6443
    option tcplog
    mode tcp
    default_backend rke2-control-plane

backend rke2-control-plane
    mode tcp
    balance roundrobin
    option tcp-check
{% for control_plane_server in groups['control_plane'] %}
    server ctl{{ (loop.index - 1) }} {{ control_plane_server }}:6443 check inter 10s downinter 2m fall 2 rise 3
{% endfor -%}

userlist Devsecops
    user devsecops password {{ status_page_secret }}

listen status-page
    bind *:9000
    stats enable
    stats uri /report
    stats refresh 30s
    acl is_authenticated http_auth(Devsecops)
    http-request auth unless is_authenticated
    stats show-legends
    stats admin if TRUE
